---
import "@fontsource-variable/inter";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header_index.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("logo.ico", site);
const description =
  `SC-CSBS  welcomes you all  to the launch of our exciting new chapter which is designed to be a hub of creativity, collaboration and lifelong learning. 
  👉Join us and discover your full potential!
  In academic pursuit we thrive
  A student chapter that's alive
  CSBS is our foundation
  A community of inspiration.
  Our passion is our guiding🌟 light
  As we🫂 strive with all our might
  To conquer academic heights
  With CSBS our 🦾future's bright.`;
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.ico" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>IEI Students' Chapter CSBS</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-8 px-8 py-10">
      <Intro />
      <Features />
      <Showcase />
    </div>
    <Footer />
  </body>
</html>
