---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import {Button} from "@heroui/react";
import team from "~/content/members/team.json";
import past from "~/content/members/past.json";

const coreTeam = team.team.slice(0, 10);
const pastConvenor = past.members.slice(0,2);
const { hide_button } = Astro.props;


import MemberCard from "./member_card";
import { getCollection } from "astro:content";
---
<>
<ContentSection title="Core Team" id="showcase">
  <Fragment slot="lead">
    SC CSBS is <span class="text-primary">AWESOME</span>.{" "}
    <span class="text-primary">Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="justify-center items-center align-middle gap-4 flex flex-wrap">
      {coreTeam.map((member) => <a href="/members" ><ShowcaseCard image={member.image} title={member.title} pos={member.pos}  /> </a>)}
    </div>
  </div>
  {!hide_button && 
  <a href="members">
    <Button radius="full"  size="lg"  className="bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500">
      SEE THE FULL TEAM
    </Button>
  </a>

  }
</ContentSection>
<div class="py-5" />
<ContentSection title="Past Convenors" id="past convenors">
<div class="max-w-6xl space-y-2">
    <div class="justify-center items-center align-middle gap-4 flex flex-wrap">
      {pastConvenor.map((member) => <a href="/members" ><ShowcaseCard image={member.image} title={member.title} pos={member.title}  /> </a>)}
    </div>
  </div>
</ContentSection>
</m>